.blog-content {
  font-size: 1.1rem;
  line-height: 1.8;
}

.blog-content h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.blog-content ul {
  margin-bottom: 1.5rem;
}

.blog-content li {
  margin-bottom: 0.5rem;
}